/**
 * Import the Nerdfonts icon font.
 * Ref https://www.nerdfonts.com/cheat-sheet for a cheatsheet of available Nerdfonts icons.
 */
@import 'https://www.nerdfonts.com/assets/css/webfont.css';

:root {
  --red: rgb(243, 139, 168);
  --yellow: rgb(249, 226, 176);
  --green: rgb(166, 227, 161);
  --blue: rgb(137, 180, 250);
  --teal: rgb(148, 226, 213);
  --pink: rgb(245, 194, 231);
  --white: rgb(205, 214, 244);
  --black: rgb(17, 17, 27);
  --gray: rgb(30, 30, 46);
  --light-gray: rgb(108, 112, 134);

  --border-radius: 8px;
}

.nf {
  color: var(--white);
}


i {
  /* color: rgb(115 130 175 / 95%); */
  color: var(--white);
  margin-right: 7px;
}

body {
  color: var(--white);
  font-family: Inter;
  font-size: 12px;
  overflow: hidden;
}

html,
body,
#root {
  height: 100%;
}

#root {
  /*border-bottom: 1px solid rgb(255 255 255 / 5%);*/
  /* background: linear-gradient(rgb(0 0 0 / 90%), rgb(5 2 20 / 85%)); */
  background: transparent;
}

.app {
  /* background-color: #900029; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: 100%;
  padding: 5px 0.5vw;
}

.left,
.center,
.right {
  display: flex;
  align-items: center;
}

.center {
  justify-content: center;
}

.right {
  /* background-color: #cdd6f4; */
  justify-self: end;
}

.binding-mode,
.tiling-direction,
.network,
.memory,
.cpu,
.battery {
  background-color: var(--gray);
  margin-left: 10px;
  color: var(--white);
  border-radius: var(--border-radius);
  border: none;
  padding: 8px 12px;
  font-weight: 400;
}

.logo {
  background-color: var(--gray);
  margin-right: 10px;
  /* color: var(--white); */
  border-radius: var(--border-radius);
  padding: 8px 12px;
  font-weight: bold;
}

.network > .nf {
  color: var(--pink);
}

.memory > .nf {
  color: var(--green);
}

.cpu > .nf {
  color: var(--teal);
}

.battery > .nf {
  color: var(--blue);
}

.media {
  display: flex;
  align-items: center;
  background-color: var(--gray);
  border-radius: var(--border-radius);
  border: none;
  /* outline: solid 2px var(--red);
  outline-offset: -5px; */
  padding: 8px 12px;
  justify-self: center;
  width: 50%;
}

.media-scroller {
  margin: 0px;
}

.media-title {
  margin: 0px;
  padding: 2px;
  font-size: 11px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  font-weight: bold;
}

.media-button-middle {
  margin-inline: 10px;
  padding: 0px 4px;
  flex-grow: 4;
  /* background: rgb(255 255 255 / 0%);
  color: rgb(255 255 255 / 90%); */
  border: 1px solid var(--light-gray);
  border-radius: calc(var(--border-radius) - 2px);
  cursor: pointer;
  background-color: var(--black);
  color: var(--white);
  &:hover {
    background: var(--light-gray);
  }
  &.paused {
    color: var(--light-gray);
    background: var(--black);
    border-color: var(--gray);
  }
}

.media-button {
  background: rgb(255 255 255 / 0%);
  margin-left: 4px;
  padding: 0px 2px;
  color: var(---gray);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.media-button:hover > .nf {
  color: var(--light-gray);
}

.workspaces {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--gray);
}

.workspace {
  background: rgb(108 112 134 / 15%);
  color: var(--white);
  /* background: rgba(30, 30, 46, 0.3);
  color: rgb(255 255 255 / 90%); */
  margin: 4px 4px;
  padding: 4px 8px;
  border: none;
  border-radius: calc(var(--border-radius) - 2px);
  cursor: pointer;
  &.displayed {
    background: rgb(255 112 134 / 15%);
  }
  &.focused,
  &:hover {
    font-weight: bold;
    background: var(--light-gray);
  }
}

.tiling-direction {
  background: rgb(108 112 134 / 15%);
  color: rgb(108 112 134 / 90%);
  border-radius: var(--border-radius);
  line-height: 1;
  padding: 8px 12px;
  border: 0;
  cursor: pointer;
}


.cpu .high-usage {
  color: var(--red);
}

.battery {
  position: relative;
  /* color: #313244; */
}

.battery .charging-icon {
  position: absolute;
  font-size: 7px;
  left: -8px;
  top: 3px;
}

/* {
  "controlStyles[0].target": "Taskbar.TaskListButton",
  "controlStyles[0].styles[0]": "CornerRadius=3",
  "controlStyles[1].target": "SystemTray.TextIconContent > Grid#ContainerGrid > SystemTray.AdaptiveTextBlock#Base > TextBlock#InnerTextBlock",
  "controlStyles[1].styles[0]": "FontSize=16",
  "controlStyles[2].target": "SystemTray.NotifyIconView#NotifyItemIcon",
  "controlStyles[2].styles[0]": "MinWidth=25",
  "controlStyles[3].target": "SystemTray.OmniButton#ControlCenterButton > Grid > ContentPresenter > ItemsPresenter > StackPanel > ContentPresenter[1] > SystemTray.IconView > Grid > Grid",
  "controlStyles[3].styles[0]": "Visibility=Collapsed",
  "controlStyles[4].target": "SystemTray.TextIconContent > Grid#ContainerGrid",
  "controlStyles[4].styles[0]": "Padding=2",
  "controlStyles[5].target": "SystemTray.ChevronIconView",
  "controlStyles[5].styles[0]": "MinWidth=27",
  "controlStyles[6].target": "SystemTray.OmniButton#NotificationCenterButton > Grid > ContentPresenter > ItemsPresenter > StackPanel > ContentPresenter > SystemTray.IconView#SystemTrayIcon > Grid > Grid > SystemTray.TextIconContent",
  "controlStyles[6].styles[0]": "Visibility=Collapsed",
  "controlStyles[7].target": "Taskbar.TaskListLabeledButtonPanel > Border#BackgroundElement",
  "controlStyles[7].styles[0]": "Background:=#302d47",
  "controlStyles[8].target": "Grid#SystemTrayFrameGrid",
  "controlStyles[8].styles[0]": "Background:=#302d47",
  "controlStyles[8].styles[1]": "CornerRadius=6",
  "controlStyles[8].styles[2]": "Margin=0,5,4,4",
  "controlStyles[8].styles[3]": "Padding=3,0,-8,0",
  "controlStyles[7].styles[1]": "CornerRadius=6",
  "controlStyles[9].target": "Taskbar.TaskListLabeledButtonPanel@CommonStates > Rectangle#RunningIndicator",
  "controlStyles[9].styles[0]": "Height=27",
  "controlStyles[9].styles[1]": "RadiusX=5",
  "controlStyles[9].styles[2]": "RadiusY=5",
  "controlStyles[9].styles[3]": "StrokeThickness=2",
  "controlStyles[9].styles[4]": "Stroke@InactivePointerOver=#ebbcba",
  "controlStyles[9].styles[5]": "Stroke@InactivePressed=#ebbcba",
  "controlStyles[9].styles[6]": "Stroke@ActiveNormal=#ebbcba",
  "controlStyles[9].styles[7]": "Stroke@ActivePointerOver=#ebbcba",
  "controlStyles[9].styles[8]": "Stroke@ActivePressed=#ebbcba",
  "controlStyles[9].styles[9]": "Fill=Transparent",
  "controlStyles[9].styles[10]": "Width=37",
  "controlStyles[9].styles[11]": "VerticalAlignment=1",
  "controlStyles[9].styles[12]": "Canvas.ZIndex=1",
  "controlStyles[10].target": "SystemTray.ImageIconContent > Grid#ContainerGrid > Image",
  "controlStyles[10].styles[0]": "Width=13",
  "controlStyles[11].target": "SystemTray.TextIconContent > Grid#ContainerGrid > SystemTray.AdaptiveTextBlock#Base > TextBlock#InnerTextBlock",
  "controlStyles[11].styles[0]": "FontSize=14",
  "controlStyles[12].target": "TextBlock#LabelControl",
  "controlStyles[12].styles[0]": "FontFamily=JetBrainsMono NF",
  "controlStyles[12].styles[2]": "Padding=2,0,8,0",
  "controlStyles[13].target": "Taskbar.ExperienceToggleButton#LaunchListButton[AutomationProperties.AutomationId=StartButton]",
  "controlStyles[13].styles[0]": "Visibility=Collapsed",
  "controlStyles[12].styles[1]": "Foreground=#e0def4",
  "controlStyles[14].target": "Windows.UI.Xaml.Controls.TextBlock#InnerTextBlock[Text=]",
  "controlStyles[14].styles[0]": "Text=",
  "controlStyles[15].target": "Rectangle#BackgroundFill",
  "controlStyles[15].styles[0]": "Fill=Transparent",
  "controlStyles[16].target": "Rectangle#BackgroundStroke",
  "controlStyles[16].styles[0]": "Fill=Transparent",
  "controlStyles[17].target": "Taskbar.TaskListButtonPanel#ExperienceToggleButtonRootPanel > Border#BackgroundElement",
  "controlStyles[17].styles[0]": "Background=#302d47",
  "controlStyles[18].target": "TextBlock#DateInnerTextBlock",
  "controlStyles[18].styles[0]": "Margin=0,0,0,-2",
  "controlStyles[19].target": "Grid#OverflowRootGrid > Border",
  "controlStyles[19].styles[0]": "Background=#302d47",
  "controlStyles[20].target": "SystemTray.OmniButton#ControlCenterButton > Grid > ContentPresenter > ItemsPresenter > StackPanel > ContentPresenter[2] > SystemTray.IconView > Grid > Grid",
  "controlStyles[20].styles[0]": "Visibility=Collapsed",
  "controlStyles[21].target": "Taskbar.TaskbarFrame#TaskbarFrame > Grid#RootGrid",
  "controlStyles[21].styles[0]": "Margin=0,1,0,3",
  "controlStyles[21].styles[1]": "CornerRadius=8"
} */