/**
 * Import the Nerdfonts icon font.
 * Ref https://www.nerdfonts.com/cheat-sheet for a cheatsheet of available Nerdfonts icons.
 */
@import 'https://www.nerdfonts.com/assets/css/webfont.css';

:root {
  /* catppuccin mocha */
  /* --red: rgb(243, 139, 168);
  --yellow: rgb(249, 226, 176);
  --green: rgb(166, 227, 161);
  --blue: rgb(137, 180, 250);
  --teal: rgb(148, 226, 213);
  --pink: rgb(245, 194, 231);
  --white: rgb(205, 214, 244);
  --black: rgb(17, 17, 27);
  --gray: rgb(30, 30, 46);
  --light-gray: rgb(108, 112, 134); */

  /* everforest dark hard */
  --red: #E67E80;
  --yellow: #DBBC7F;
  --green: #A7C080;
  --blue: #7FBBB3;
  --teal: #83C092;
  --pink: #D699B6;
  --white: #D3C6AA;
  --black-rgb: 30, 35, 38; /* Hack because hsl to rgb is not supported */
  --black: rgb(var(--black-rgb));
  --gray: #272E33;
  --light-gray: #414B50;

  --border-radius: 8px;
}

.nf {
  color: var(--white);
}


i {
  color: var(--white);
  margin-right: 7px;
}

body {
  color: var(--white);
  font-family: "Inter";
  font-size: 12px;
  font-weight: 400;
  overflow: hidden;
}

html,
body,
#root {
  height: 100%;
}

#root {
  background: transparent;
}

.app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: 100%;
  margin: 0px;
  padding: 0px;
  padding-left: 20px;
  padding-right: 5px;
}

.left,
.center,
.right {
  display: flex;
  align-items: center;
}

.center {
  justify-content: center;
}

.right {
  justify-self: end;
}

.binding-mode,
.tiling-direction,
.network,
.memory,
.cpu,
.battery {
  background-color: var(--black);
  margin-left: 10px;
  color: white;
  border-radius: var(--border-radius);
  border: none;
  padding: 11px 12px;
}

.logo {
  background-color: rgba(var(--black-rgb), 0.5);
  margin-right: 10px;
  color: var(--green);
  border-radius: var(--border-radius);
  border: none;
  outline: solid 3px var(--teal);
  outline-offset: -2px;
  padding: 11px 12px;
}

.network > .nf {
  color: var(--pink);
  padding-inline: 3px;
}

.memory > .nf {
  color: var(--green);
  padding-inline: 3px;
}

.cpu > .nf {
  color: var(--teal);
  padding-inline: 3px;
}

.battery > .nf {
  color: var(--blue);
  padding-inline: 3px;
}

.media {
  display: flex;
  align-items: center;
  background-color: var(--gray);
  border-radius: var(--border-radius);
  border: none;
  padding: 9px 8px;
  justify-self: center;
  width: 50%;
}

.media-title {
  margin: 0px;
  padding: 2px;
  font-family: "Relaxed Typing Mono JP Regular", monospace;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
}

.media-button-middle {
  margin: 0px;
  margin-inline: 10px;
  padding: 0px 4px;
  flex-grow: 1;
  border: none;
  border-radius: calc(var(--border-radius) - 2px);
  cursor: pointer;
  background-color: var(--black);
  color: var(--white);
  overflow: hidden;
  white-space: nowrap;

  &:hover {
    background: var(--light-gray);
  }
  &.paused {
    color: var(--light-gray);
    background: var(--black);
    border-color: var(--gray);
  }
}

.media-button {
  background: var(--white);
  margin: 0px;
  margin-left: 4px;
  padding: 2px 2px;
  padding-left: 8px;
  color: var(--black);
  border: none;
  border-radius: calc(var(--border-radius) - 3px);
  cursor: pointer;
  &:hover {
    background: var(--light-gray);
  }
}

.media-button > .nf {
  color: var(--black);
}
.media-button:hover > .nf {
  color: var(--white);
}

.workspaces {
  margin-right: 10px;
  padding: 3px 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--gray);
}

.workspace {
  color: var(--white);
  background: var(--black);
  font-weight: 400;
  margin: 6px 6px;
  padding: 2px 6px;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  &.displayed {
    background: var(--black);
  }
  &.focused,
  &:hover {
    font-weight: 800;
    color: var(--black);
    background: var(--white);
  }
}

.network {
  background-color: var(--gray);
}

.tiling-direction {
  background-color: var(--light-gray);
  padding-left: 15px;
  padding-right: 7px;
  font-weight: bold;
}

.binding-mode {
  background-color: var(--light-gray);
  color: var(--white);
}

.cpu .high-usage {
  color: var(--red);
}

.battery {
  position: relative;
}

.battery .charging-icon {
  position: absolute;
  font-size: 7px;
  left: -8px;
  top: 3px;
}