/**
 * Import the Nerdfonts icon font.
 * Ref https://www.nerdfonts.com/cheat-sheet for a cheatsheet of available Nerdfonts icons.
 */
@import 'https://www.nerdfonts.com/assets/css/webfont.css';

:root {
  --red: rgb(243, 139, 168);
  --yellow: rgb(249, 226, 176);
  --green: rgb(166, 227, 161);
  --blue: rgb(137, 180, 250);
  --teal: rgb(148, 226, 213);
  --pink: rgb(245, 194, 231);
  --white: rgb(205, 214, 244);
  --black: rgb(17, 17, 27);
  --gray: rgb(30, 30, 46);
  --light-gray: rgb(108, 112, 134);

  --border-radius: 8px;
}

.nf {
  color: var(--white);
}

i {
  /* color: rgb(115 130 175 / 95%); */
  color: var(--white);
  margin-right: 7px;
}

body {
  color: var(--white);
  font-family: Inter;
  font-size: 12px;
  overflow: hidden;
}

html,
body,
#root {
  height: 100%;
}

#root {
  /*border-bottom: 1px solid rgb(255 255 255 / 5%);*/
  /* background: linear-gradient(rgb(0 0 0 / 90%), rgb(5 2 20 / 85%)); */
  background: transparent;
}

.app {
  /* background-color: #900029; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: 100%;
  padding: 5px 0.5vw;
}

.left,
.center,
.right {
  display: flex;
  align-items: center;
}

.center {
  /* background-color: rgba(40, 40, 41, 0.95); */
  background-color: var(--gray);
  border-radius: var(--border-radius);
  border: none;
  /* outline: solid 2px var(--red);
  outline-offset: -5px; */
  padding: 8px 12px;
  justify-self: center;
  width: 50%;

  /* font-size: 16px; */
}

.right {
  /* background-color: #cdd6f4; */
  justify-self: end;
}

.binding-mode,
.tiling-direction,
.network,
.memory,
.cpu,
.battery {
  background-color: var(--gray);
  margin-left: 10px;
  color: var(--white);
  border-radius: var(--border-radius);
  padding: 8px 12px;
  font-weight: 400;
}

.logo {
  background-color: var(--gray);
  margin-right: 10px;
  /* color: var(--white); */
  border-radius: var(--border-radius);
  padding: 8px 14px;
  font-weight: bold;
}

.network {
  color: var(--pink);
}

.memory {
  color: var(--green);
}

.cpu {
  color: var(--teal);
}

.media {
  width: 100%;
  display: flex;
  align-items: center;
}

.media-scroller {
  margin: 0px;
}

.media-title {
  flex-grow: 4;
  margin: 0px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  font-weight: bold;
}

.media-button {
  background: rgb(255 255 255 / 0%);
  margin-left: 4px;
  padding: 0px 2px;
  color: rgb(255 255 255 / 90%);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  &:hover {
    background: rgb(75 115 255 / 50%);
  }
}

.workspaces {
  display: flex;
  align-items: center;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--gray);
}

.workspace {
  background: rgb(108 112 134 / 15%);
  color: var(--white);
  /* background: rgba(30, 30, 46, 0.3);
  color: rgb(255 255 255 / 90%); */
  margin-inline: 4px;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 4px 8px;
  border: none;
  border-radius: calc(var(--border-radius) - 4px);
  cursor: pointer;
  &.displayed {
    background: rgb(255 112 134 / 15%);
  }
  &.focused,
  &:hover {
    font-weight: bold;
    background: var(--light-gray);
  }
}

.binding-mode,
.tiling-direction {
  background: rgb(108 112 134 / 15%);
  color: rgb(108 112 134 / 90%);
  border-radius: 8px;
  line-height: 1;
  padding: 4px 8px;
  border: 0;
  cursor: pointer;
}

.binding-mode {
  margin-right: 4px;
}

.cpu .high-usage {
  color: var(--red);
}

.battery {
  position: relative;
  /* color: #313244; */
}

.battery .charging-icon {
  position: absolute;
  font-size: 7px;
  left: -8px;
  top: 3px;
}
